@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Prata&family=Bebas+Neue&display=swap');

:root {
  --cor-primaria: #212121;
  --cor-secundaria: #353535;
  --terciaria: #D9D9D9;
  --cor-quartenaria: #878484;
  --cor-texto-btn: #FFFFFF;
  --background: #F1F0EA;
}

html {
  background-color: var(--background);
}


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 0.9rem;
}

::-webkit-scrollbar-thumb{
  background-color: var(--cor-primaria);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #282828;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container {
  width: 50%; /* Define a largura desejada (50% para dividir a página ao meio) */
  height: 100vh; /* Define a altura da div container igual à altura da viewport */
  float: left; /* Alinha a div ao lado esquerdo da página */
}

.conteudo {
  margin: 0 auto; /* Centraliza horizontalmente dentro da div container */
  max-width: 400px; /* Define uma largura máxima para o conteúdo */
  padding: 20px;
}